nav {
  background-color: #161D2F;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;

  ul {
    width: 180px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    padding: 0;
    margin: 0;
    height: fit-content;
  }

  li i {
    font-size: 16px;
    color: #5A698F;
  }

  .avatar {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    background-image: url("/app/assets/images/avatar.png");
  }

  .fill {
    color: white;
  }
}
